// 颜色
@charset "UTF-8";

$red-A:#C41200;
$red-B:#e02e08;
$red-C:#c3000d;
$red-D:#a82400;
$red-E:#EB182C;
$red-F:#DF4125;
$red-G:#910101;

$orange-A:#FF3801;
$orange-B:#FC4F08;
$orange-C:#EF4E3A;
$orange-D:#ff7700;
$orange-E:#f74425;
$orange-F:#F6A73A;

$black-A:#161616;
$black-B:#050505;
$black-C:#303030;


$blue-A:#00aff0;
$blue-B:#008cdd;
$blue-C:#00A8E2;
$blue-D:#59a3fc;
$blue-E:#0091DF;
$blue-F:#3d9ae8;
$blue-G:#86c9ef;
$blue-H:#4E7299;
$blue-I:#34526f;

$gray-A:#666;

$green-A:#6CBC16;
$green-B:#5b9a68;
$green-C:#5ba525;
$green-D:#81b71a;
$green-E:#549E3D;
$green-F:#036568;

$jade-A:#CEE3F8;
